version: '{build}'
pull_requests:
  do_not_increment_build_number: true
image: Visual Studio 2017
services:
  - mssql2016
nuget:
  disable_publish_on_pr: true
build_script:
- ps: .\Build.ps1
test: off
artifacts:
- path: .\artifacts\*.nupkg
  name: NuGet
deploy:
- provider: NuGet
  name: production
  api_key:
    secure: 44bohP+05nCVBsZvK3tklX4yK8Rwi7vWRKTj1sMI1V26twqZJayTtRxv0fLF1t2o
  on:
    branch: master
    appveyor_repo_tag: true